<div class="about text--block">
	<div class="both">
		{% include site-logo-svg.html %}
		<p>The day we met, we came up with a diabolic plan to hitch-hike together to Spain. We fulfilled it without, plans, money or second thoughts, but with a huge urge to experience something amazing. 39&nbsp;countries and 40&nbsp;thousand kilometers later, we advanced from a travelling couple to a married one.</p>
<p>Covid messed up our plans of switching to a full-time travelling lifestyle, so right now we're dreaming and making up new plans for after the pandemic. On the bright side, we have so much of the world still left to see!</p>
<p>We hope that the accounts of our journey will be enjoyable. Our blog is nowhere near perfect, but all the texts and photos come straight from the heart ❤</p>
	</div>
	<div class="wera">
		<h2 class="about--header">Weronika</h2>
		<img src="/assets/images/wera.png">
		<p>Belongs to a disapearing group of people that have a book in their hands more often than a smartphone. Makes handmade greeting cards. Knows the location of every country in the world, the whole list of Polish kings and the lyrics to an iritation number of songs. Never sleeps if there is a fire and a guitar nearby (scouting thing). Professionally works in tourism and planning is her element, so she's in charge of our route. Fulfills her writing abitions by describing our adventures.</p>
	</div>
	<div class="maciej">
		<h2 class="about--header">Maciej</h2>
		<img src="/assets/images/maciej.png">
		<p>Likes to cook and eating (even more). Judges rocks, trees, and wall by how easy they are to climb. Is able to build a pier, skate 50 kilometers, make a wooden ring, and design a website (actually, this is his debut). During our trip he's the photographer, quartermaster, tent spot searcher.</p>
	</div>
	<div class="contact">
		<h2 class="about--header">Contact</h2>
		<div class="content">
			{% include site-contact.html %}
			<br>
		</div>
	</div>
	<!-- <div class="wera">
		<img src="/assets/images/telefon.png">
		<p>
			Kontakt:<br>
			bleblebleble<br>
			nlenelenel<br>
			blebelbelee<br>
			{% include nav-social.html %}
		</p>
	</div> -->
</div>