---
layout: default
title: title.map
---

{% include site-header.html %}

<main class="world--map main">
	<div id="map--div">
        <img src="{{ site.baseurl_root }}/assets/images/map.jpg" usemap="#image-map" id="img--map--tag" draggable="false" hidefocus="true">
    	<img src="{{ site.baseurl_root }}/assets/images/{% t paths.legend %}" id="img--legend--tag" draggable="false" hidefocus="true">
    	<canvas id="map--overlay" width="1920" height="1034"></canvas>
    	<map name="image-map" id="image--map">
            <area target="" alt="Polska" title="Polska" href="{{ site.baseurl }}/category/Poland" coords="1001,315,983,320,983,337,1018,351,1030,335,1023,315" shape="poly">
        </map>
    </div>


	
</main>

<script>

///////   scroll with mouse

var startX = 0;
var mapDiv = document.getElementById('map--div');
mapDiv.addEventListener('mousedown', OnMouseDown);
document.addEventListener('mouseup', OnMouseUp);

function OnMouseDown(event){
    document.addEventListener('mousemove', OnMouseMove);
    startX = event.clientX;
}

function OnMouseMove(event){
    mapDiv.scrollLeft += startX - event.clientX;
    startX = event.clientX;
}

function OnMouseUp(event){
  document.removeEventListener('mousemove', OnMouseMove);
}

function fullWidthCursor() {
    if (mapDiv.clientWidth === mapDiv.scrollWidth) {
        mapDiv.style.cursor = 'initial';
    }
    else {
        mapDiv.removeAttribute('style');
    }
}

window.addEventListener('resize', fullWidthCursor);

//////  resize clickable map
var initCoords = [];
var map = document.getElementById('image--map')
var image = document.getElementById('img--map--tag')
var areas = map.getElementsByTagName('area');
for (let n = 0; n < areas.length; n++) {
    initCoords[n] = areas[n].coords.split(',');
}

var ImageMap = function (coords) {
    var len = coords.length,
        newCoords = [];
    for (let n = 0; n < coords.length; n++) {
        newCoords[n] = coords[n].slice();
    }
    this.resize = function () {
        var clen,
            x = mapDiv.clientHeight / image.naturalHeight;
        for (let n = 0; n < len; n++) {
            clen = coords[n].length;
            for (let m = 0; m < clen; m++) {
                newCoords[n][m] = coords[n][m] * x;
            }
            areas[n].coords = newCoords[n].join(',');
        }
        return true;
    };
},
imageMap = new ImageMap(initCoords);

window.addEventListener('load', () => {
    
    imageMap.resize();

    mapDiv.scrollLeft = 515 - mapDiv.clientWidth/2;
    fullWidthCursor();
});

window.addEventListener('resize', imageMap.resize);

///////// draw path

var points = [
	{x: 992, y: 330},
    {x: 1001, y: 315},
    {x: 954, y: 376},
    {x: 864, y: 418},
    {x: 680, y: 767},
    {x: 690, y: 764},
    {x: 661, y: 782},
    {x: 623, y: 779}
]
var c = document.getElementById("map--overlay");
var ctx = c.getContext("2d");
ctx.beginPath();

ctx.lineWidth = 3;
ctx.setLineDash([7]);
ctx.strokeStyle = "#EB5E55";
ctx.beginPath();
ctx.moveTo(points[0].x, points[0].y);
points.slice(1).forEach((point) => {
	ctx.lineTo(point.x, point.y);
});

ctx.stroke();

var radius = 4;
ctx.setLineDash([0]);
ctx.fillStyle = '#F0CA60';
ctx.strokeStyle = "#EB5E55";
ctx.lineWidth = 2.5;
points.forEach((point) => {
	ctx.moveTo(point.x, point.y);
	ctx.beginPath();
	ctx.arc(point.x, point.y, radius, 0, 2 * Math.PI, false);
	ctx.fill();
	ctx.stroke();
});
</script>