
{% if site.data.navigation_header %}
<button class="button  button--nav" aria-label="Menu toggle">
  {% include icon.html id="nav" title="Menu" %}
</button>
<nav class="nav  nav--header">
  {% assign counter = 0 %}
<!--   <input id="drop--{{counter}}" type="checkbox"/>
  {% assign counter = counter | plus:1 %} -->
  <ul class="nav--top list  list--nav dropdown0">
    <div class="backdrop" onclick="collapseNav()"></div>
    {% for item in site.data.navigation_header %}

      {% if item.url %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.title | prepend: "category/" %}
      {% endif %}
      {% assign title = site.translations[site.lang]["nav"][item.title] %}
      <li class="item  item--nav{% if item.url == page.url %} item--current{% endif %}">
        <a href="{{ site.baseurl }}/{{ url }}" {% if item.members %}class="expand"{% endif %}>{{ title }}</a>{% if item.members %}<b>›</b>{% endif %}
        {% if item.members %}
          <input id="drop--{{counter}}" type="checkbox"/>
          <label class="label" for="drop--{{counter}}">
            <a href="{{ site.baseurl | replace: '/', '' }}/{{ url }}">{{ title }}</a>{% if item.members %}<b></b>{% endif %}
          </label>
          {% assign counter = counter | plus:1 %}
          <ul class="dropdown1">
            {% for level1 in item.members %}
              {% assign title1 = site.translations[site.lang]["categories"][level1.title] %}
              {% assign url1 = level1.title %}
              <li><a href="{{ site.baseurl }}/category/{{ url1 }}" {% if level1.members %}class="expand"{% endif %}>{{ title1 }}{% if level1.members %} <b>›</b>{% endif %}</a>
              {% if level1.members %}
                <input id="drop--{{counter}}" type="checkbox"/>
                <label class="label" for="drop--{{counter}}">
                  <a href="{{ site.baseurl }}/category/{{ url1 }}">{{ title1 }}</a>{% if level1.members %}<b></b>{% endif %}
                </label>
                {% assign counter = counter | plus:1 %}
                <ul class="dropdown2">
                  {% for level2 in level1.members %}
                    {% assign title2 = site.translations[site.lang]["categories"][level2.title] %}
                    {% assign url2 = level2.title %}
                    <li>
                      <a href="{{ site.baseurl }}/category/{{ url2 }}">{{ title2 }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<div class="tools">
  <a href="{{ site.baseurl }}/search"><span style='font-size: 150%'>⌕</span></a>
  {% include site-language.html %}
</div>

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .container')
  const navUl = document.querySelector('.header .dropdown0')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (window.innerWidth <= 801) {
      navUl.removeAttribute('style')
    }
    else {
      navUl.style.setProperty('display', 'flex')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navUl.style.getPropertyValue('display')) {
        navUl.removeAttribute('style')
      } else {
        navUl.style.setProperty('display', 'block')
        // navList.style.setProperty('margin-bottom', `${navUl.offsetHeight + 24}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>
