<nav class="nav  nav--footer">
  <!-- <div class="footer--container"> -->
    <ul class="list list--nav footer--posts">
      <strong>{% t text.popular %}<br></strong>
      {% for item in site.navigation_footer %}
        {% assign post = site.posts | where: "slug", item.title  | first %}
        <li class="item{% if item.url == page.url %}  item--current{% endif %}">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul class="list list--nav footer--contact">
      <strong>{% t text.contact %}<br></strong>
      {% include site-contact.html %}
    </ul>
    <div class="copyright  typeset">
      <small class="small"><a href="/sitemap.xml">Sitemap</a> |&nbsp;</small>
      <small class="small"><a href="/privacy.html">Privacy</a> |&nbsp;</small>
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
  <!-- </div> -->
</nav>