<nav class="nav  nav--paginator post--width">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}#main" class="pagination  pagination--previous">{% t text.newer_posts %}</a>
  {% else %}
    <span class="pagination  pagination--previous nocontent"></span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}#main" class="pagination  pagination--next">{% t text.older_posts %}</a>
  {% else %}
    <span class="pagination  pagination--next nocontent"></span>
  {% endif %}

</nav>
