<div class="gallery--wrapper">
    <h2>{% t text.view_gallery %}{% include icon.html id="arrow" %}</h2>
    <div class="gallery--button" onclick="openGallery()">
        <!-- <div class="backdrop"></div> -->
        <!-- <img class="gallery--collage" src="{{ include.collage1 | prepend: site.baseurl_root }}">
        <img class="gallery--collage" src="{{ include.collage2 | prepend: site.baseurl_root }}">
        <img class="gallery--collage" src="{{ include.collage3 | prepend: site.baseurl_root }}"> -->
        {% responsive_image_block %}
          path: {{ include.collage1 | prepend: site.baseurl_root }}
          class: "gallery--collage"
        {% endresponsive_image_block %}
        {% responsive_image_block %}
          path: {{ include.collage2 | prepend: site.baseurl_root }}
          class: "gallery--collage"
        {% endresponsive_image_block %}
        {% responsive_image_block %}
          path: {{ include.collage3 | prepend: site.baseurl_root }}
          class: "gallery--collage"
        {% endresponsive_image_block %}
    </div>
    <div id="gallery">
        <div class="backdrop" onclick="closeGallery()"></div>
        {% assign imgs = include.images | split: "," %}
        {% for img in imgs %}
          <!-- <img class="gallery--photo" src="{{ img }}"> -->
          {% responsive_image_block %}
            path: {{ img }}
            class: "gallery--photo"
          {% endresponsive_image_block %}
        {% endfor %}
        <div class="gallery--nav gallery--nav--next" onclick="scrollGallery(1)"></div>
        <div class="gallery--nav gallery--nav--prev" onclick="scrollGallery(-1)"></div>
        <div class="gallery--nav gallery--nav--close" onclick="closeGallery()"></div>
    </div>
</div>


<script>
var gallery = document.getElementById('gallery');
var images = gallery.getElementsByTagName('img');
var backdrop = gallery.querySelector('.backdrop');
var current = 0;

document.addEventListener('keydown', function(e) {
  if (e.code == 'ArrowLeft') {
    scrollGallery(-1);
  }

  else if (e.code == 'ArrowRight') {
    scrollGallery(1);
  }

  else if (e.code == 'Escape') {
    closeGallery();
  }
});

function openGallery() {

    gallery.style.display = 'block';
    images[0].style.display = 'block';
    current = 0;
    document.body.style.overflow = 'hidden';
}

function scrollGallery(dir) {
    function mod(n, m) {
      return ((n % m) + m) % m;
    }

    images[current].style.display = 'none';
    current = mod(current + dir, images.length);
    images[current].style.display = 'block';
}

function closeGallery() {
    gallery.style.display = 'none';
    images[current].style.display = 'none';
    document.body.style.overflow = 'initial';
}

</script>