<nav class="nav--post post--width">
  {% if page.previous.url %}
    <a class="post--previous" href="{{ site.baseurl }}{{ page.previous.url }}"><i>{% t text.prev_post %}</i><br>{{ page.previous.title }}</a>
  {% else %}
    <span class="pagination  post--previous nocontent"></span>
  {% endif %}
  {% if page.next.url %}
    <a class="post--next" href="{{ site.baseurl }}{{ page.next.url }}"><i>{% t text.next_post %}</i><br>{{ page.next.title }}</a>
  {% else %}
    <span class="post--next nocontent"></span>
  {% endif %}
</nav>