<section class="page__reactions post--width">
  {% if site.staticman.api %}
    <h2 class="page__section-label">
      {% assign size = site.data.comments[page.slug].size %}
      {% if size > 0 %}
        {{ site.data.comments[page.slug] | size }}
        {% assign remainder = size | modulo: 10 %}
        {% assign tens = size | divided_by: 10 | modulo: 10  %}
        {% if size == 1 %}
          {%-t comments.comments_1-%}
        {% elsif remainder > 1 and  remainder < 5 and tens != 1 %}
          {%-t comments.comments_234-%}
        {% else %}
          {%-t comments.comments_many-%}
        {% endif %}
      {% else %}
        {%-t comments.no_comments-%}
      {% endif %}

    </h2>

    {% unless page.comments_locked == true %}
      <!-- Start new comment form -->
      <div id="respond">
        <button id="form-button" class="page__section-label btn" onclick="expandForm()">{% t comments.leave_comment %}</button><small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display: none;">{% t comments.cancel %}</a></small>
        <form id="comment-form" class="page__form js-form form" method="post">
          <fieldset>
            <label for="comment-form-message"><strong>{% t comments.comment %}</strong> <small>(<a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> {% t comments.is_allowed %})</small></label>
            <textarea type="text" rows="5" id="comment-form-message" name="fields[message]" required spellcheck="true"></textarea>
          </fieldset>
          <fieldset>
            <label for="comment-form-name"><strong>{% t comments.name %}</strong></label>
            <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false">
          </fieldset>
          <fieldset>
            <label for="comment-form-email"><strong>Email</strong> <small>({% t comments.used_for %} <a href="http://gravatar.com">Gravatar</a>{% t comments.image %})</small></label>
            <input type="email" id="comment-form-email" name="fields[email]" required spellcheck="false">
          </fieldset>
          <fieldset>
            <label for="comment-form-url"><strong>{% t comments.website %}</strong> <small>({% t comments.optional %})</small></label>
            <input type="url" id="comment-form-url" name="fields[url]"/>
          </fieldset>
          <fieldset class="hidden" style="display: none;">
            <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
            <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
            <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
            <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
            <label for="comment-form-location">Leave blank if you are a human</label>
            <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off">
          </fieldset>
          <!-- Start comment form alert messaging -->
          <p class="hidden js-notice">
            <span class="js-notice-text"></span>
          </p>
          <!-- End comment form alert messaging -->
          <fieldset>
            <!-- <label for="comment-form-reply">
              <input type="checkbox" id="comment-form-reply" name="options[subscribe]" value="email">
              Notify me of replies by email.
            </label> -->
            <button type="submit" id="comment-form-submit" class="btn btn--large">{% include site-spinner-svg.svg %}<span>{% t comments.submit %}</span></button>
          </fieldset>
        </form>
      </div>
      <!-- End new comment form -->
    {% else %}
      <p><em>Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="/contact/">contact me</a>.</em></p>
    {% endunless %}
    {% if site.data.comments[page.slug] %}
      <!-- Start static comments -->
      <div id="comments" class="js-comments">
        {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == blank'%}
        {% for comment in comments reversed %}
          {% assign index       = forloop.index %}
          {% assign replying_to = comment[1].replying_to | to_integer %}
          {% assign avatar      = comment[1].avatar %}
          {% assign email       = comment[1].email %}
          {% assign name        = comment[1].name %}
          {% assign url         = comment[1].url %}
          {% assign date        = comment[1].date %}
          {% assign message     = comment[1].message %}
          {% include comment.html index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message %}
        {% endfor %}
      </div>
      <!-- End static comments -->
    {% endif %}
  {% endif %}
</section>