<small class="small  post-meta">
  <time datetime="{{ include.src.date | date_to_xmlschema }}" class="time">
  	{% assign m = include.src.date | date: "%-m" %}
	{{-include.src.date | date: "%-d&nbsp;"-}}
	{%-case m-%}
	  {%-when '1'-%}{% t months.january %}
	  {%-when '2'-%}{% t months.february %}
	  {%-when '3'-%}{% t months.march %}
	  {%-when '4'-%}{% t months.april %}
	  {%-when '5'-%}{% t months.may %}
	  {%-when '6'-%}{% t months.june %}
	  {%-when '7'-%}{% t months.july %}
	  {%-when '8'-%}{% t months.august %}
	  {%-when '9'-%}{% t months.september %}
	  {%-when '10'-%}{% t months.october %}
	  {%-when '11'-%}{% t months.november %}
	  {%-when '12'-%}{% t months.december %}
	{%-endcase-%}
	{{-include.src.date | date: "&nbsp;%Y"-}}
  </time>
</small>
