<a/>
<!-- <div class="carousel-wrapper" data-ratio="calc(100% * 2 / 3)"> -->
<div class="carousel-wrapper" style="--ratio: calc(100% * {{ include.ratio }})">
<!-- <div class="carousel-wrapper" {% if include.ratio %} ratio="calc(100% * {{ include.ratio }})"{% endif %}> -->
  <div class="carousel">
    {% assign imgs = include.images | split: "," %}

    {% if imgs[1] %}
      <figure class="post carousel__photo active">
        {% responsive_image_block %}
          path: {{ imgs[0] }}
          alt: {{ include.alt }}
        {% endresponsive_image_block %}
      </figure>
      {% for img in imgs offset:1 %}
        <figure class="post carousel__photo">
          {% responsive_image_block %}
            path: {{ img }}
            alt: {{ include.alt }}
          {% endresponsive_image_block %}
        </figure>
      {% endfor %}
      <div class="carousel__button--next" style="display: none;"></div>
      <div class="carousel__button--prev" style="display: none;"></div>
    {% else %}
      <figure>
        {% responsive_image_block %}
          path: {{ imgs[0] }}
          alt: {{ include.alt }}
        {% endresponsive_image_block %}
      </figure>
    {% endif %}
    
  </div>
</div>