{% assign src = include.post %}
{% unless src.categories %}
  {% assign src = page %}
{% endunless %}
{% if src.categories %}
  {% capture categories %}
    {% for category in src.categories %}
      {% assign category_split = category | split: "."  | last %}
      <span class="label  label--category"><a href="{{ site.baseurl }}/category/{{ category_split }}">{% t category %}</a></span>{% if forloop.last == false %}, {% endif %}
      <!-- <span class="label  label--category"><a href="{{ site.baseurl }}/category/{{ site.translations["en"]["categories"][category_split] }}">{% t category %}</a></span>{% if forloop.last == false %}, {% endif %} -->
    {% endfor %}
  {% endcapture %}
{% elsif src.category %}
  {% capture categories %}
    {% assign category_split = src.category | split: "."  | last %}
    <span class="label  label--category"><a href="{{ site.baseurl }}/category/{{ category_split }}">{% t src.category %}</a></span>
    <!-- <span class="label  label--category"><a href="{{ site.baseurl }}/category/{{ site.translations["en"]["categories"][category_split] }}">{% t src.category %}</a></span> -->
  {% endcapture %}
{% endif %}

<small class="small  post-meta">
  {% assign date_format = site.date_format | default: "%d %b %Y" %}
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ src.date | date_to_xmlschema }}" class="time">
    {% assign m = src.date | date: "%-m" %}
    {{-src.date | date: "%-d&nbsp;"-}}
    {%-case m-%}
      {%-when '1'-%}{% t months.january %}
      {%-when '2'-%}{% t months.february %}
      {%-when '3'-%}{% t months.march %}
      {%-when '4'-%}{% t months.april %}
      {%-when '5'-%}{% t months.may %}
      {%-when '6'-%}{% t months.june %}
      {%-when '7'-%}{% t months.july %}
      {%-when '8'-%}{% t months.august %}
      {%-when '9'-%}{% t months.september %}
      {%-when '10'-%}{% t months.october %}
      {%-when '11'-%}{% t months.november %}
      {%-when '12'-%}{% t months.december %}
    {%-endcase-%}
    {{-src.date | date: "&nbsp;%Y"-}}
  </time>
</small>
