{% if paginator.posts %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in paginator.posts %}
        <li class="item  item--post">
          {% if page.image %}
            <a href="{{ site.baseurl }}{{ page.url }}">
              <!-- <img class="preview--image" src="{{ page.image | prepend: site.baseurl}}"> -->
              <div class="preview--image--placeholder">
                {% responsive_image_block %}
                  path: {{ page.image | prepend: site.baseurl_root | remove_first: "/" }}
                  class: "preview--image"
                  alt: {{ page.title }}
                {% endresponsive_image_block %}
              </div>
            </a>
          {% endif %}
          <article class="article  article--post list post--width">
            <div class="postlist--cover"></div>
            <div>
              <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
              {% include post-date.html src=page %}
              <a href="{{ site.baseurl }}{{ page.url }}">{{ page.excerpt | markdownify }}</a>
            </div>
            <a class="button more" href="{{ site.baseurl }}{{ page.url }}">{% t text.read_more %}</a>

          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
  </section>
{% endif %}
