<a/>
{% assign imgs = include.images | split: "," %}
{% assign captions = include.captions | split: "; " %}
<div class="carousel-wrapper" style="
  --ratio: calc({% if include.captions %}5rem + {% endif %}100% * {{ include.ratio }});
  {% if include.captions %}margin-bottom: 0;{% endif %}">
  <div class="carousel">

    {% if imgs[1] %}
      <figure class="post carousel__photo active">
        {% responsive_image_block %}
          path: assets/images/{{ include.folder }}/{{ imgs[0] }}.jpg
          alt: {{ include.alt }}
        {% endresponsive_image_block %}
        {% if include.captions %}
        <figcaption style="display: none;">
          <div>{{ captions[0] }}</div>
        </figcaption>
        {% endif %}
      </figure>
      {% assign s = imgs.size | minus: 1 %}
      {% for i in (1..s) %}
        <figure class="post carousel__photo">
          {% responsive_image_block %}
            path: assets/images/{{ include.folder }}/{{ imgs[i] }}.jpg
            alt: {{ include.alt }}
          {% endresponsive_image_block %}
          {% if include.captions %}
          <figcaption style="display: none;">
            <div>{{ captions[i] }}</div>
          </figcaption>
          {% endif %}
        </figure>
      {% endfor %}
      <div class="carousel__button--next" style="display: none;"></div>
      <div class="carousel__button--prev" style="display: none;"></div>
    {% else %}
      <figure>
        {% responsive_image_block %}
          path: assets/images/{{ include.folder }}/{{ imgs[0] }}.jpg
          alt: {{ include.alt }}
        {% endresponsive_image_block %}
        {% if include.captions %}
        <figcaption style="display: none;">
          <div>{{ captions[0] }}</div>
        </figcaption>
        {% endif %}
      </figure>
    {% endif %}
    
  </div>
</div>