<div class="language--switcher">
{% if site.lang == site.languages[0] %}
    <a class="" href="{{ site.baseurl_root }}/{{ site.languages[1] }}{{ page.url }}"><u>{{ site.languages[0] }}</u>&nbsp;/&nbsp;{{ site.languages[1] }}</a>
{% else %}
  <a class="" href="{{ site.baseurl_root }}{{ page.url }}">{{ site.languages[0] }}&nbsp;/&nbsp;<u>{{ site.languages[1] }}</u></a>
{% endif %}
</div>