{% include icon.html id="email" %}
Email: <a href="mailto:contact@nowherenear.blog">contact@nowherenear.blog</a>
<br>
{% include icon.html id="facebook" %}
Facebook: <a href="https://www.facebook.com/nowherenear.blog/">@nowherenear.blog</a>
<br>
{% include icon.html id="instagram" %}
Instagram: <a href="https://www.instagram.com/nowherenear_blog/">nowherenear_blog</a>