<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="110"
   height="77"
   viewBox="0 0 297 194"
   version="1.1"
   id="svg8"
   sodipodi:docname="logo_normalnev4.svg"
   inkscape:version="0.92.4 (5da689c313, 2019-01-14)">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.53941148"
     inkscape:cx="1052.2559"
     inkscape:cy="464.62078"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:showpageshadow="false"
     showborder="true"
     inkscape:snap-global="false"
     inkscape:window-width="1366"
     inkscape:window-height="745"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-103)"
     style="display:inline">
    <path
       style="fill:#526f6d;fill-opacity:1;stroke-width:0.21104848"
       d="m 200.85915,252.81914 c -2.78476,-0.005 -5.17714,0.84605 -5.53262,0.91667 -1.15281,0.22907 -3.86028,2.19086 -5.25532,4.92029 -1.06425,1.57545 -1.33094,2.70202 -1.68279,4.97625 -0.56815,2.0063 -0.74276,4.90351 -0.0854,8.2551 1.00706,5.52332 5.26489,7.95342 5.95945,8.43052 0.31301,0.21511 3.42982,1.79199 7.44966,1.81525 5.09523,-0.27441 6.162,-0.96881 9.94549,-4.47917 0.93294,3.17918 2.21576,4.66615 5.68685,5.53866 0.53973,-0.10708 1.92751,-1.176 4.90542,-2.35666 -2.67343,-3.32802 -5.2293,-7.93717 -6.47814,-12.66249 -1.06863,-4.04348 -0.67807,-12.70535 -0.67807,-12.70535 -6.76975,-2.71314 -9.42593,-2.61476 -14.23456,-2.64907 z m 5.17144,7.29382 2.21761,10.41602 c -5.89916,5.52561 -13.8985,2.34893 -13.11357,-3.77265 0.60524,-2.65076 1.91918,-3.59165 3.90424,-5.30244 2.30342,-1.27788 4.72691,-1.29327 6.99172,-1.34093 z"
       id="path3861"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccccccccaccccccc" />
    <path
       style="fill:#526f6d;fill-opacity:1;stroke-width:0.22515388"
       d="m 0.40353721,202.32836 c 2.10904949,-2.89845 4.17571039,-5.83253 6.38247569,-8.65734 2.1803593,-2.78089 3.4627751,-4.90176 7.0860931,-11.71908 2.120387,-3.98954 3.739137,-7.42462 5.305105,-11.25771 3.614191,-8.84664 7.355921,-18.71777 9.970376,-26.30308 2.304867,-6.68708 12.294228,-31.62517 12.618416,-31.50142 2.603172,2.39121 4.521095,4.28082 7.244521,6.90784 0.338903,5.67034 0.677789,11.34068 1.016676,17.01101 l 2.041049,11.03252 c 1.120352,4.89021 1.688243,10.60575 3.239158,15.10502 1.781445,-1.79017 3.692601,-4.05969 5.242055,-6.02371 1.586197,-2.02268 4.896703,-6.0301 7.356665,-8.90538 10.32543,-12.87326 16.910688,-23.74744 26.581,-34.77922 3.564307,3.64152 6.397363,7.48314 8.384463,10.37306 2.58184,3.75929 7.68396,9.42488 9.65917,12.218 1.81489,2.04325 4.17888,4.66828 4.43141,4.88498 7.2527,-5.30257 12.64496,-9.87643 18.6072,-15.77175 3.67945,3.10893 12.98514,15.57393 15.05049,16.93243 4.50244,-2.59862 8.40716,-7.29209 12.76063,-12.1583 2.59595,-2.91275 9.00763,-9.53549 15.08509,-15.58163 l 10.57014,-10.51567 c 8.52845,9.43209 11.0301,16.12712 15.6807,22.9633 4.89778,8.76608 8.16412,14.07879 12.64146,22.56785 l -5.76052,3.9829 c -7.19801,-9.12147 -12.14322,-18.97685 -16.52206,-26.17498 -2.28101,-3.54078 -4.93282,-7.78894 -6.67523,-11.10934 -4.37309,4.05184 -8.23977,9.58522 -11.62873,13.60169 -7.5072,8.84015 -17.55781,19.48107 -25.08871,26.51749 -5.03103,-5.75853 -10.75194,-13.18516 -14.7811,-18.40453 -2.80124,2.48873 -4.01153,3.87607 -5.98255,5.09611 -4.23833,3.39421 -9.96239,6.8031 -14.09685,10.03835 -5.21954,-7.36294 -9.86201,-11.5402 -12.88113,-16.62223 -2.19021,-2.77205 -4.073447,-4.71774 -7.290062,-8.97055 -6.919491,8.48365 -11.029985,14.29197 -15.697922,21.18644 -4.544287,6.72594 -9.101214,12.81034 -15.31664,20.45078 -4.187866,4.94771 -6.376959,7.51687 -11.279889,10.8456 -1.852085,-2.34907 -6.951505,-6.03867 -6.991276,-8.66841 -2.110275,-14.12467 -2.530776,-19.80751 -4.715285,-31.263 -3.119932,5.40635 -5.286921,11.93499 -7.104009,17.19088 -2.437115,7.24895 -5.742347,13.60083 -8.363728,20.60157 -3.054076,8.30721 -7.371671,16.18509 -11.50944,21.75954 -3.455338,4.64718 -8.3806253,10.86789 -8.6054984,10.86887 -2.4247586,-2.66701 -4.1651874,-4.79338 -6.66371339,-7.7489 z"
       id="path3855"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccsccccccccccccccccsccccccccccccccccccccccc" />
    <path
       style="fill:#526f6d;fill-opacity:1;stroke-width:0.20771603"
       d="m 279.30328,170.89614 c -1.52331,-0.005 -3.01235,0.22762 -4.57015,0.72465 -1.37671,0.80885 -3.35033,1.69038 -4.355,3.24294 -0.77955,1.4627 -2.01707,2.60434 -2.5357,4.68794 -1.07913,2.12029 -0.49493,5.93165 -0.79339,8.52346 0.0169,1.93109 -0.0527,3.45347 0.77981,6.17768 0.0655,1.63324 4.45475,6.21563 7.07714,7.13621 1.8744,1.45451 8.23781,0.5368 11.30007,1.13969 v 7.3e-4 c 3.53212,-0.3182 6.48881,-0.29345 9.48075,-1.21981 0.38795,-0.68823 -4.88607,-5.58588 -6.05729,-6.87564 -3.71212,0.61411 -5.50302,0.41029 -9.77592,0.42007 -3.52695,-0.0559 -4.74529,-4.58184 -4.74529,-4.58184 3.29352,1.23058 7.08762,0.97496 10.85995,0.26418 2.33588,-0.005 5.12816,-2.01678 6.25735,-4.75507 0.49718,-1.73675 0.87123,-3.6626 0.54956,-5.59883 -0.56743,-2.12299 -3.46497,-7.35401 -8.69566,-8.57542 -1.69586,-0.45985 -3.25294,-0.70515 -4.77623,-0.71094 z m 2.0503,8.13369 c 1.71396,-2e-4 3.65929,0.53602 3.87414,1.52945 1.20504,2.89003 -0.59365,4.27995 -1.64645,4.31332 -1.79775,0.0336 -5.57488,0.0815 -7.1753,-1.88094 0,-0.4556 2.04561,-3.19898 2.93807,-3.62115 0.49926,-0.22941 1.23046,-0.34059 2.00954,-0.34068 z"
       id="path3853"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#526f6d;fill-opacity:1;stroke-width:0.21566167"
       d="m 88.905401,167.30508 c -3.512411,0.1658 -6.253028,3.04599 -8.192538,5.98892 -2.075259,3.00735 -3.817969,6.62592 -3.459037,10.50624 0.06979,2.87469 -0.461895,6.11592 1.309223,8.55244 1.403496,2.1322 3.146915,3.97034 4.813295,5.85072 2.035843,1.98503 4.823608,2.90714 7.531012,2.64048 3.100205,-0.0144 6.428082,-0.93656 8.525103,-3.58914 3.871741,-3.81246 5.821921,-9.85392 4.737441,-15.45232 -0.78342,-4.50713 -2.8811,-8.96638 -6.390541,-11.63602 -2.622313,-1.88277 -5.794204,-2.56273 -8.873958,-2.86132 z m 3.705622,7.61553 c 2.52863,0.0697 4.032644,2.95351 4.05363,5.45248 -0.175923,4.80762 -1.856171,9.61854 -4.908357,13.1391 -1.735574,1.04936 -3.633757,-0.45261 -4.586558,-2.01342 -2.630383,-3.89037 -2.553413,-9.59513 0.144521,-13.41944 1.198457,-1.88618 3.044501,-3.57559 5.296764,-3.15872 z"
       id="path3843"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#526f6d;fill-opacity:1;stroke-width:0.22515388"
       d="m 134.7887,182.95393 c 2.33757,-1.93118 -3.36851,5.85832 -4.88524,8.21865 -1.78574,2.38453 -6.5763,8.0242 -7.0102,7.54304 -5.20225,-7.60621 -9.94488,-18.69327 -13.80587,-27.1678 0.67427,-0.53802 6.27165,-1.5026 6.49953,-1.2459 3.49888,6.36252 4.31586,10.19411 7.87463,15.52478 2.88154,-2.59335 8.36097,-11.55757 11.41458,-14.94392 3.32761,4.18418 7.33834,9.22961 10.92225,16.53532 5.19617,-8.58564 5.27432,-10.31869 7.44532,-15.15917 0.41688,0 5.73496,5.58159 5.73496,6.02572 -3.50394,4.13332 -8.26639,19.49085 -11.03614,21.2636 -4.61051,-4.63076 -9.70864,-12.13455 -13.15382,-16.59432 z"
       id="path3839"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccccccc" />
    <path
       style="fill:#526f6d;fill-opacity:1;stroke-width:0.22515388"
       d="m 182.38746,183.71713 c -4.37725,-1.40125 -2.97259,-0.93514 -6.88489,-0.78976 -1.29594,8.19624 -1.00615,10.47552 -1.64451,17.04886 l -7.96376,-3.8345 c 0.0142,-2.24855 1.59716,-14.0086 1.59716,-14.0086 -0.79866,7.46466 1.0629,-9.58664 1.68804,-17.56423 0.86065,-5.00621 1.41779,-12.92848 1.99046,-14.8604 5.63803,2.10731 7.32092,3.18574 7.32092,3.18574 -0.27214,4.98601 -2.53393,17.54752 -2.71376,22.00126 4.58701,-0.55066 7.61281,0.32824 10.34648,2.16858 10.37591,7.42928 5.85704,13.77137 6.43517,23.8025 l -7.14097,-2.5077 c 1.0894,-9.35046 1.33402,-11.14748 -3.03034,-14.64175 z"
       id="path3837"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccccccccccc" />
    <path
       style="fill-opacity:1;stroke-width:0.22515388"
       d="m 145.00615,130.31923 -9.1688,-9.95645 c -6.53522,5.13019 -12.138,10.92667 -18.03451,16.29713 -3.92019,-4.02082 -6.50102,-7.69671 -9.41057,-11.04748 1.45579,-2.81869 4.66821,-5.92925 7.68344,-8.84919 6.11507,-5.92179 12.52512,-8.50043 21.13049,-8.50043 6.60265,0 11.73337,1.50369 16.99063,4.97952 3.04532,2.01343 9.04269,7.80802 10.73234,10.76121 -5.28036,5.35975 -8.17623,8.1937 -13.42745,13.63862 -0.97777,-0.95101 -2.57748,-3.2889 -6.49557,-7.32293 z"
       id="sun"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccsscccc" />
    <path
       inkscape:connector-curvature="0"
       style="display:inline;fill:#526f6d;fill-opacity:1;stroke-width:0.20243415"
       d="m 212.59882,170.10322 c -1.45811,-0.005 -2.88343,0.22587 -4.37459,0.71905 -1.3178,0.80257 -3.20695,1.67729 -4.16865,3.2178 -0.74618,1.45137 -1.93076,2.58414 -2.42721,4.65158 -1.03295,2.10387 -0.47373,5.88566 -0.75943,8.4574 0.0162,1.9161 -0.0504,3.4267 0.74643,6.12979 0.0626,1.62057 4.26415,6.16744 6.77434,7.08089 1.79419,1.44322 7.8853,0.53262 10.81653,1.13084 v 7.4e-4 c 3.38098,-0.31573 6.21116,-0.29117 9.07508,-1.21034 0.37135,-0.68289 -4.67701,-5.54258 -5.79811,-6.82236 -3.55327,0.60937 -5.26755,0.40713 -9.35761,0.41682 -3.37604,-0.0555 -4.54223,-4.54631 -4.54223,-4.54631 3.15258,1.22105 6.78432,0.9674 10.39525,0.26212 2.23593,-0.004 4.90872,-2.00114 5.98959,-4.7182 0.47592,-1.72328 0.83396,-3.63419 0.52606,-5.55542 -0.54315,-2.10652 -3.3167,-7.297 -8.32359,-8.50894 -1.62328,-0.45628 -3.11375,-0.69969 -4.57186,-0.70544 z m 1.96258,8.07064 c 1.64063,-1.9e-4 3.50271,0.53188 3.70836,1.51759 1.15349,2.86763 -0.56825,4.24678 -1.57599,4.2799 -1.72083,0.0333 -5.33633,0.0808 -6.86826,-1.86637 0,-0.45208 1.95807,-3.17418 2.81234,-3.59308 0.47789,-0.22763 1.1778,-0.33794 1.92355,-0.33804 z"
       id="path3853-2" />
    <path
       inkscape:connector-curvature="0"
       style="display:inline;fill:#526f6d;fill-opacity:1;stroke-width:0.20940016"
       d="m 73.989056,290.03131 c 4.512899,-6.10937 9.014221,-12.40046 12.526194,-18.95071 1.972025,-3.71039 3.477507,-6.90512 4.933908,-10.46999 3.361306,-8.22767 6.841226,-17.40813 9.272762,-24.4627 2.1436,-6.2192 4.60598,-15.75634 7.80423,-23.29691 2.42104,2.22389 7.92914,5.63658 10.46201,8.07979 1.22571,9.87186 2.55864,8.89243 4.27695,18.18044 1.04179,4.54811 5.6669,15.42327 7.10911,19.60782 4.19322,-4.4677 11.27219,-23.30821 14.18287,-29.4618 8.10088,-14.31881 7.42745,-10.76093 15.07043,-23.92561 5.476,4.55142 7.58957,6.14247 11.3153,9.42087 4.40192,4.58865 9.89988,9.58524 13.82887,14.25102 5.97288,-6.71965 4.77539,-10.10721 8.20125,-15.70278 6.26634,3.89858 21.4251,18.40343 24.93082,20.72756 -3.56082,2.84332 -4.53808,4.01451 -4.53808,4.01451 -5.57713,-5.39489 -14.00216,-11.74788 -17.15657,-14.15774 -1.87823,3.53188 -5.04301,8.73492 -4.49104,8.43981 -2.93363,4.95266 -2.66914,4.4386 -5.44603,8.842 -6.34714,-6.37351 -8.11019,-8.01121 -11.88991,-11.96791 -8.08728,-6.42115 -10.9212,-8.41468 -13.23242,-10.73706 -6.02151,8.92459 -8.73339,13.65981 -12.45398,21.31336 -6.63579,13.77768 -9.47493,22.47097 -16.6281,31.44754 -2.30411,-1.42653 -7.89976,-3.50851 -9.6438,-5.69563 -1.08231,-7.04353 -2.22217,-9.96418 -2.49059,-11.10913 -1.87678,-8.24323 -4.03485,-14.73393 -6.65369,-22.67362 -2.90165,5.02805 -4.917,11.09992 -6.60694,15.98804 -2.26659,6.74177 -5.34059,12.64921 -7.778543,19.16012 -2.840394,7.72597 -6.855879,15.05263 -10.704147,20.23705 -3.213566,4.32202 -7.794238,10.10748 -8.003371,10.10839 -2.255105,-2.48042 -3.873754,-4.458 -6.197461,-7.20673 z"
       id="path3855-6"
       sodipodi:nodetypes="ccccccccccccccccccccccccccccccc" />
    <path
       style="display:inline;fill:#526f6d;fill-opacity:1;stroke-width:0.22109647"
       d="m 236.93697,199.36662 c -0.065,-0.027 -0.86558,-19.83892 -1.49647,-27.00668 3.40309,0.98094 7.27307,1.75698 8.32135,3.11368 l 0.30736,5.72537 c 1.14876,-2.16854 3.68133,-4.5076 5.39719,-5.35087 1.9962,-1.67964 5.63164,-2.24174 7.62339,-2.03908 0.1875,0.0406 4.74347,6.83635 4.83612,7.11138 -1.83749,0.2936 -3.77233,1.13843 -3.77233,1.13843 -4.13134,0.85453 -5.54072,2.19108 -5.54072,2.19108 -2.64547,2.26812 -4.89549,3.96491 -5.88591,6.52968 -1.60413,2.6695 -2.67615,9.83505 -4.06691,10.96485 z"
       id="path3845-6-2"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccccccc" />
    <path
       style="display:inline;fill:#526f6d;fill-opacity:1;stroke-width:0.22109647"
       d="m 230.23824,279.83314 c -0.065,-0.027 -0.86558,-19.83892 -1.49647,-27.00668 3.40309,0.98094 7.27307,1.75698 8.32135,3.11368 l 0.30736,5.72537 c 1.14876,-2.16854 3.68133,-4.5076 5.39719,-5.35087 1.9962,-1.67964 5.63164,-2.24174 7.62339,-2.03908 0.1875,0.0406 4.74347,6.83635 4.83612,7.11138 -1.83749,0.2936 -3.77233,1.13843 -3.77233,1.13843 -4.13134,0.85453 -5.54072,2.19108 -5.54072,2.19108 -2.64547,2.26812 -4.89549,3.96491 -5.88591,6.52968 -1.60413,2.6695 -2.67615,9.83505 -4.06691,10.96485 z"
       id="path3845-6-2-9"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccccccc" />
    <path
       inkscape:connector-curvature="0"
       style="display:inline;fill:#526f6d;fill-opacity:1;stroke-width:0.20243415"
       d="m 165.63132,250.78418 c -1.45811,-0.005 -2.88343,0.22587 -4.37459,0.71905 -1.3178,0.80257 -3.20695,1.67729 -4.16865,3.2178 -0.74618,1.45137 -1.93076,2.58414 -2.42721,4.65158 -1.03295,2.10387 -0.47373,5.88566 -0.75943,8.4574 0.0162,1.9161 -0.0504,3.4267 0.74643,6.12979 0.0626,1.62057 4.26415,6.16744 6.77434,7.08089 1.79419,1.44322 7.8853,0.53262 10.81653,1.13084 v 7.9e-4 c 3.38098,-0.31573 6.21116,-0.29116 9.07508,-1.21033 0.37135,-0.68289 -4.67701,-5.54258 -5.79811,-6.82236 -3.55327,0.60937 -5.26755,0.40713 -9.35761,0.41682 -3.37604,-0.0556 -4.54223,-4.54637 -4.54223,-4.54637 3.15258,1.22105 6.78432,0.9674 10.39525,0.26212 2.23593,-0.004 4.90872,-2.00114 5.98959,-4.7182 0.47592,-1.72328 0.83396,-3.63419 0.52606,-5.55542 -0.54315,-2.10652 -3.3167,-7.297 -8.32359,-8.50894 -1.62328,-0.45628 -3.11375,-0.69969 -4.57186,-0.70544 z m 1.96258,8.07064 c 1.64063,-1.9e-4 3.50271,0.53188 3.70836,1.51759 1.15349,2.86763 -0.56825,4.24678 -1.57599,4.2799 -1.72083,0.0333 -5.33633,0.0808 -6.86826,-1.86637 0,-0.45208 1.95807,-3.17418 2.81234,-3.59308 0.47789,-0.22763 1.1778,-0.33794 1.92355,-0.33804 z"
       id="path3853-2-3" />
  </g>
</svg>
