<!-- <div id="top--div"> -->
	<span onclick="topFunction()" id="top" title="Go to top">⌃</span>
<!-- </div> -->

<script>
	mybutton = document.getElementById("top");

	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	  if (document.body.scrollTop > 475 || document.documentElement.scrollTop > 475) {
	    mybutton.style.opacity = 1;
	  } else {
	    mybutton.style.opacity = 0;
	  }
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
	  document.body.scrollTop = 0; // For Safari
	  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	}
</script>