<div class="form  form--search">
  <form id="contact-form" action="">
    <input class="input" id="search" type="search" name="search" placeholder="{% t text.example %}" autocomplete="off" />
    <div class="post--list list category">
      <div class="grid--wrapper" id="list">
          <!-- results go here -->
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="{{ "/assets/scripts/fetch.js" | relative_url }}"></script>
<script type="text/javascript">
  const endpoint = '{{ "/assets/search.json" | relative_url }}';

  const pages = [];

  fetch(endpoint)
    .then(blob => blob.json())
    .then(data => pages.push(...data))

  function findResults(termToMatch, pages) {
    return pages.filter(item => {
      const regex = new RegExp(termToMatch, 'gi');
      return item.title.match(regex) || item.content.match(regex) || item.categories.match(regex);
    });
  }

  function displayResults() {
    const resultsArray = findResults(this.value, pages);
    const html = resultsArray.map(item => {
      return `
        <div>
          <a href="${item.url}">
            <img class="preview--image--tile" src="${item.image.replace('.', '-600.').replace('images', 'images/resized')}">
          </a>
          <article class="article article--post post--tile">
            <div class="postlist--cover"></div>
            <div class="tile--content">
              <h2><a href="${item.url}">${item.title}</a></h2>
              <a href="${item.url}"><p>${item.excerpt}</p></a>
            </div>
            <a class="button more" href="${item.url}">{% t text.read_more %}</a>

          </article>
        </div>`;
    }).join('');
    if ((resultsArray.length == 0) || (this.value == '')) {
      resultsList.innerHTML = `<p>Nic nie znaleziono :(</p>`;
    } else {
      resultsList.innerHTML = html;
    }
  }

  function delay(callback, ms) {
    var timer = 0;
    return function() {
      var context = this, args = arguments;
      clearTimeout(timer);
      timer = setTimeout(function () {
        callback.apply(context, args);
      }, ms || 0);
    };
  }

  const field = document.querySelector('#search');
  const resultsList = document.querySelector('#list');

  field.addEventListener('keyup', delay(displayResults, 500));

  field.addEventListener('keypress', function(event) {
    if (event.keyCode == 13) {
      event.preventDefault();
    }
  });
</script>
<noscript>Please enable JavaScript to use the search form.</noscript>
