<aside class="aside aside--{{ page.align | default: 'right' }}">

  <section class="section  typeset section--description">
    <div class="cover"></div>
    <img class="aside--header" src="{{ site.baseurl_root }}/assets/images/icon.jpg">
    <p class="about--description">{% t text.description %}<br><a href="{{ site.baseurl }}/about-us">{% t text.more_about_us %}</a></p>
    {% include nav-social.html %}
  </section>

  <section class="section  typeset section--location">
  	<small class="aside--header"><span style="opacity: 0">{% include icon.html id="arrow" %}</span>{% t text.we_are_here %}{% include icon.html id="arrow" %}</small>
  	<div style="background-image: url({{ site.baseurl_root }}/assets/countries/{% t here.country_file %}.svg);">
  		<h3>{% t here.country %}</h3>
  	</div>
  </section>

  <section class="section  typeset section--fb">
  	<small class="aside--header"><span style="opacity: 0">{% include icon.html id="arrow" %}</span>{% t text.like_us %}{% include icon.html id="arrow" %}</small>
  	<!-- <div style="background-image: url({{ site.baseurl }}/assets/images/{{ site.current_country | downcase}}.png);">
  		<h3>{{ site.current_country }}</h3>
  	</div> -->
  	<!-- <div class="fb-page" data-href="https://www.facebook.com/Blekitna14" data-tabs="" data-width="270" data-height="125" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Blekitna14" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Blekitna14">Błękitna Czternastka</a></blockquote></div> -->
    <a href="https://www.facebook.com/nowherenear.blog" target="_blank">
      <div class="fb--icon">
        <img src="/assets/images/fb-icon.svg" class="fb--icon--img">
      </div>
      <img src="/assets/images/fb-cover.jpg">
    </a>
  </section>

  <section class="section  typeset section--ig">
    <small class="aside--header"><span style="opacity: 0">{% include icon.html id="arrow" %}</span>{% t text.insta %}{% include icon.html id="arrow" %}</small>
    <a href="https://www.instagram.com/nowherenear_blog/" target="_blank">
      <div class="ig--icon"><img src="/assets/images/insta.png" class="ig--icon--img"></div>
      <div class="ig--feed">
        <div class="ig--container">
        {% jekyllgram 6 %}
         <img src="{{ photo.media_url }}"
              title="{{ photo.caption }}" />
        {% endjekyllgram %}
        </div>
      </div>
    </a>
  </section>


</aside>
