{% assign feature_text = page.feature_text %}
{% assign image = page.image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign image = collectiondata.image %}
{% endif %}

{% if page.layout == 'blog' %}
  {% include site-carousel.html %}
{% elsif image %}
  <!-- <div class="feature" style="background-image: url({{ image | prepend: site.baseurl_root }})"> -->
  <div class="feature">
    <!-- <img src="{{ image | prepend: site.baseurl_root }}"> -->
    {% responsive_image_block %}
      path: {{ image | replace: ".jpg", "-wide.jpg" | prepend: site.baseurl_root | remove_first: "/" }}
      template: _includes/responsive-wide.html
      alt: {{ page.title }}
    {% endresponsive_image_block %}

  {% if page.layout == 'post' %}
      <div class="container  typeset">
  		    <h1>{{ page.title }}</h1>
  	      <!-- {{ feature_text | markdownify }} -->
  	      {% include post-meta.html %}
      </div>
  {% elsif page.layout == 'category' %}
      <div class="container  typeset">
          <h1 class="no--meta">{% t page.tag %}</h1>
      </div>
  {% elsif page.layout == 'page' %}
      <div class="container  typeset">
          <h1 class="no--meta">{% t page.tag %}</h1>
      </div>
  {% endif %}
  </div>
{% endif %}