<link rel="apple-touch-icon" sizes="180x180" href="/assets/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/logos/favicon-16x16.png">
<link rel="manifest" href="/assets/logos/site.webmanifest">
<link rel="mask-icon" href="/assets/logos/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/logos/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Nowhere Near">
<meta name="application-name" content="Nowhere Near">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/logos/browserconfig.xml">
<!-- <meta name="theme-color" content="#ffffff"> -->
