{% assign feature_posts = site.posts | where: "featured",true %}

<div class="carousel-wrapper">
    <div class="carousel">

        {% for post in feature_posts %}
          <!-- <img src="{{ post.image | prepend: site.baseurl_root }}" class="{% if feature_posts.size > 1 %}carousel__photo{% endif %} {% if forloop.first %}active{% endif %}"> -->
          <div class="feature {% if feature_posts.size > 1 %}carousel__photo{% endif %} {% if forloop.first %}active{% endif %}">
            {% responsive_image_block %}
              path: {{ post.image | replace: ".jpg", "-wide.jpg" | prepend: site.baseurl_root | remove_first: "/" }}
              template: _includes/responsive-wide.html
              alt: {{ post.title }}
            {% endresponsive_image_block %}
            <div class="container  typeset">
                <a href="{{ site.baseurl }}{{ post.url }}">
                  <span></span>
                  <h2>{{ post.title }}</h2>
                </a>
                {% include post-meta.html post=post %}
            </div>
          </div>
        {% endfor %}
        <div class="carousel__button--next" style="display: none;"></div>
        <div class="carousel__button--prev" style="display: none;"></div>
      

      

    </div>
  </div>