/* Parent wrapper to carousel. Width can be changed as needed. */
.carousel-wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.notransition {
  -webkit-transform-style: none !important;
  -moz-transform-style: none !important;
  transform-style: none !important;
  transition: none !important;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper * {
  box-sizing: border-box;
  line-height: 0;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__photo {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  width: 100%;
  padding: 0 0;
  z-index: 100;
  -webkit-transition: transform .5s;
  transition: transform .5s;
  // max-height: 25rem;
  // &.active:hover {
  //   transform: scale(1.025);
  // }
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  z-index: 900;
  position: absolute;
  .post & {
    position: relative;
  }
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__photo.prev {
  transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__photo.next {
  transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  cursor: pointer; 
  z-index: 1001; 
  &:hover:after {
    opacity: .9;
  }
}

.carousel__button--prev {
  left: -1rem;
  @include breakpoint(break-1) {
    left: 0;
  }
}

.carousel__button--next {
  right: -1rem;
  @include breakpoint(break-1) {
    right: 0;
  }
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel__button--prev::after,
.carousel__button--next::after {
  content: "❮";
  color: white;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 1);
  font-size: large;
  left: 0;
  @include breakpoint(break-1) {
    font-size: xx-large;
    left: 0;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .6;
  text-align: center;
  vertical-align: middle;
  line-height: 5rem;
}

.carousel__button--next::after {
  content: "❯";
  right: 0;
  @include breakpoint(break-1) {
    right: 0;
  }
}