// $paletteDark: rgba(22, 25, 37, 1);
// $paletteTile: rgba(253, 252, 242, 1);
// $paletteBackground: rgba(236, 243, 242, 1);
// $paletteFocus: rgba(35, 57, 91, 1);
// $paletteLink: rgba(64, 110, 142, 1);

// $paletteDark: rgba(139, 148, 116, 1);
// $paletteTile: rgba(253, 252, 242, 1);
// $paletteBackground: rgba(238, 222, 177, 1);
// $paletteFocus: rgba(108, 174, 117, 1);
// $paletteLink: rgba(139, 189, 139, 1);
$borderColor: #398981;

$paletteDark: hsl(174, 41%, 38%);
$paletteTile: rgba($borderColor, 0.25);
$paletteBackground: white;
$paletteFocus: hsl(174, 15%, 38%);
$paletteLink: $borderColor;
$palettePath: rgba(235, 94, 85, 1);
$palettePlaceholderBright: hsla(174, 41%, 94%, 1);
$palettePlaceholderDark: hsla(174, 41%, 92%, 1);
// $paletteAccent: #ffb340;
// $paletteAccent: #8FC93A;
$paletteAccent: hsla(44, 83%, 66%, 1);


// Background colours
$backgroundColour: $paletteBackground !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #E39774 !default;

// Text colours
$headingColour: $paletteDark !default;
$bodyColour: #384743 !default;
$linkColour: $paletteLink !default;
$hoverColour: $paletteFocus !default;
$focusColour: LightGray !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "'Open Sans', sans-serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: "'Work Sans', sans-serif",
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Work+Sans:600,800&display=swap');
