body {
  background: $backgroundColour;
  color: $bodyColour;
  height: 100%;
  display: flex;
  @include flex-direction(column);
  overflow-x: hidden;
  max-width: 100%;
}

img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  // background: red;
  // background: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif) no-repeat center;
}

.container {
  width: 97%;
  max-width: 1200px;
  @include breakpoint(break-2) {
    width: 75%;
  }

  @include breakpoint(break-3) {
    width: 95%;
  }
  margin: 0 auto;
}


// Header, feature and footer
.header,
.footer {
  .logo {
    @include flex(0 0 auto);
    z-index: 10;
  }
  .container {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    padding: 1rem 0;
    @include breakpoint(break-1) {
      @include align-items(center);
    }
  }
}

hr {
  border: none;
  height: 1px;
  background-color: $paletteTile;
}

.header .nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

.feature {
  text-align: center;
  // background: $featureBackgroundColour;
  // background-size: cover;
  // background-position: center;
  height: 100%;
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    min-height: 33vw;
    height: 100%;
    @include flex-direction(column);
    @include justify-content(center);
    width: 75%;
    text-transform: uppercase;
    small { 
      position: relative;
      z-index: 100;
      margin-top: 1.5rem;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
      a:hover {
        text-decoration: underline;
      }
    }
    *, h1, h2 {
      color: $paletteBackground;  
    }
    h1, h2 {
      font-size: 200%;
      line-height: 3rem;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
      @include breakpoint(break-1) {
        font-size: 250%;
        line-height: 3.75rem;
      }
      @include breakpoint(break-3) {
        font-size: 300%;
        line-height: 4.5rem;
      }
      font-weight: 600;
      position: relative;
      z-index: 100;
      &.no--meta {
        margin-bottom: 2rem;
      }
      &:before {
        $dashWidth: 5rem;
        content: '\A—';
        font-weight: 600;
        color: $paletteAccent;
        position: absolute;
        font-size: 100%;
        transform: scaleX(1.5);
        text-align: center;
        width: $dashWidth;
        left: 50%;
        bottom: -1.1em;
        margin-left: -$dashWidth/2;
        z-index: -1;
        @include breakpoint(break-1)
        {
          font-size: 115%;
          transform: scaleX(1.2);
          bottom: -0.8em;
        }
      }
    }

  }
  // img {
  //   background-color: $palettePlaceholderBright;
  // }

  background-color: $palettePlaceholderBright;

  &:before {
    content: "";
    display: block;
    background-color: $palettePlaceholderDark;
    position: absolute;
    top: -50%;
    bottom: 0;
    width: 33%;
    height: 200%;
    transform: translateX(0) rotate(30deg);
    animation: 2s loading-placeholder ease-in-out infinite;
  }



}

$headerHeight: 5em;

.logo {
  display: inline-block;
  line-height: 0;
  height: $headerHeight;
  @include flexbox;
  @include align-items(center);
  img {
    max-height: 5rem;
  }
  #sun {
    fill: #f0ca60;
    transition: fill 1s;
  }
  &:hover #sun {
    fill: #EB5E55;
  }
}

.nav {
  a {
    padding: .2rem;
  }
  &--social a {
    display: inline-block;
    line-height: 1;
  }
}

.small {
  padding-top: .8rem;
  color: $captionColour;
  display: inline-block;
}

.footer {
  background: $headingColour;
  color: $captionColour;
  z-index: 1001;
  a {
    color: $captionColour;
    &:hover {
      color: $backgroundColour;
    }
  }
  .container {
    @include flex-wrap(wrap);
  }
  .small {
    padding-top: 0;
  }
}


// Pagination nav
.nav--paginator {
  @include flexbox;
  @include justify-content(space-between);
  color: $captionColour;
  text-align: center;
}

.pagination {
  min-width: 20%;
}


// Main content
.main {
  @include flexbox;
  @include flex-direction(column);
  @include flex(1, 0, auto);
  @include justify-content(flex-start);
  margin-bottom: 1.6rem;
  @include breakpoint(break-3) {
    @include justify-content(center);
    @include flex-direction(row);
  }
  &.post {
    @include justify-content(flex-start);
    @include flex-direction(column);
  }
}

.header,
.feature,
.footer {
  @include flex(0, 0, auto);
}

.content {
  @include breakpoint(break-3) {
    width: 62%;
  }
}

.share .button {
  margin-right: .3rem;
}



.aside {

  $veryNarrowWidth: 14rem;
  $narrowWidth: 14rem;
  $wideWidth: 17rem;
  $imageMargin: 0.5rem;
  $imageScale: 9.5rem;
  $headerWidth: $imageScale;
  $headerHeight: 1.5rem;
  $borderGap: 3rem;


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  a:hover {
    text-decoration: underline;
  }
  
  .aside--header {
    max-height: 100%;
    @include flex(0 1 auto);
    position: absolute;
    left: 50%;
    display: block;
    z-index: 200;
  }

  img.aside--header {
    margin-top: -$imageScale/2;
    margin-left: -$imageScale/2;
    height: $imageScale;
    border-radius: 50%;
  }
  small.aside--header {
    margin-top: -1.5rem;
    margin-left: -$headerWidth/2;
    height: 1rem;
    min-width: $headerWidth;
    color: $paletteLink;
    background-color: $paletteBackground;
  }

  width: 100%;
  margin: auto;

  .section {
      text-align: center;
      position: relative;
      top: 0;
      display: block;
      // height: calc(130px + 1.5rem);
      padding: 1rem 0.5rem;
      padding-bottom: 0.5rem;
      margin-top: 0;
      border: 1px solid $paletteTile;
      z-index: 100;

      .nav--social {
        text-align: center;
      }
      &--description {
        margin-top: 5rem;
        grid-column: 1 / -1;
        padding: 0;
        padding-bottom: 1rem;
        height: auto;
      }
      &--location {
        height: 9em;
        display: none;
      }
      &--ig,
      &--fb {
        .ig--icon,
        .fb--icon {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 25%;
          transform: translate(-50%, -50%);
          margin-top: 0.25rem;
          border-radius: 20%;
          transition: transform 0.5s;
          z-index: 10;
          &--img {
            height: 100%;
            width: auto;

          }
          &:after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 0;
            width: 0;
            border-radius: 20%;
            -webkit-box-shadow: 0px 0px 75px 50px white; 
            box-shadow: 0px 0px 75px 50px white;
            z-index: -1;
          }
        }
        a {
          height: 100%;
          // &:hover .ig--icon,
          // &:hover .fb--icon {
          //   transform: translate(-50%, -50%) scale(1.05);
          // }
        }
        .ig--feed {
          position: relative;
          height: 100%;
          width: 100%;
          padding-bottom: 66.66%;
          .ig--container {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
          }
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            max-width: none;
          }
        }
      }
      &--fb {
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
          max-width: none;
        }
      }
      &--location div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        h3 {
          height: auto;
          color: $paletteLink;
          // text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
          padding: 0;
          z-index: 11;
          margin: 0;
        }
      }
    }
    .cover {
      height: 1rem;
      width: $imageScale + $borderGap;
      margin-top: -0.5rem;
      left: 50%;
      margin-left: -($imageScale + $borderGap)/2;
      position: absolute;
      background-color: $paletteBackground;
      z-index: 100;
    }

  @include breakpoint(0,450) {
    grid-template-columns: 1fr;
    .section {
      grid-column: span 1;
    }
  }

  &.aside--right {
    @include breakpoint(break-3) {
      $borderGap: 1.5rem;

      width: $wideWidth;
      margin: 0;
      margin-left: 4%;
      grid-template-columns: 1fr;
      grid-gap: 2rem 0;
      height: -moz-max-content;
      height: fit-content;

      // opacity: 0.5;
      // transition: opacity .1s;
      .section {
        position: relative;
        top: 0;
        display: block;
        
        .nav--social {
          text-align: center;
        }

        &--description {
          grid-column: span 1;
        }
        &--location {
          display: block;
        }
        .ig--feed img{
          height: 100%;
        }
      }
      .cover {
        width: $imageScale + $borderGap;
        margin-left: -($imageScale + $borderGap)/2;
      }

      img.aside--header {
        margin-top: -$imageScale/2;
        margin-left: -$imageScale/2;
      }
      &--left {
        margin-left: 0;
        margin-right: 4%;
        order: -1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

.section {
  margin: 0;
}


// Lists
.list {
  list-style: none;
  &--nav {
    overflow: hidden;
    margin-bottom: var(--listHeight, 0);
  }
  .item--post,
  .item--result,
  .item--category {
    margin-left: 0;
  }
}

.item {
  &--nav {
    @include breakpoint(break-3) {
      margin-left: .4rem;
      display: inline-block;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}


// Links, icons and images
a .icon {
  transition: fill .1s;
  &:hover {
    fill: currentColor;
  }
}

.icon {
  vertical-align: middle;
  width: 1.1em;
  height: 1.1em;
  fill: CurrentColor;
}

// Media content
img {
  max-width: 100%;
  height: auto;
}

.figure {
  line-height: 0;
  &--left {
    float: left;
    padding-right: .8rem;
  }
  &--right {
    float: right;
    text-align: right;
    padding-left: .8rem;
  }
  &--center {
    text-align: center;
    clear: both;
  }
}

.video,
.map {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map {
  padding-bottom: 70%;
}

.figure,
.video,
.map,
.form {
  margin-bottom: .8rem;
}

audio,
video {
  width: 100%;
}


// Form elements and buttons
.form {
  position: relative;
  &__legend {
    font-style: italic;
    color: $captionColour;
    position: absolute;
    overflow: hidden;
    right: 0;
    clip: rect(0 0 0 0);
  }
}

button,
.button,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="color"],
textarea,
select {
  padding: .6rem 1.2rem;
  margin-bottom: .6rem;
  transition: color .1s, background-color .1s, border .1s;
  line-height: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  .icon {
    margin: 0 0 .35rem;
  }
}

input[type="submit"],
button,
.button {
  cursor: pointer;
  display: inline-block;
  color: $backgroundColour;
  background: $accentColour;
  transition: box-shadow .1s;
  will-change: box-shadow;
  box-shadow: inset 0 0 0 2rem transparent;
  &:hover {
    box-shadow: inset 0 0 0 2rem rgba(0,0,0,0.25);
  }
  &:active,
  &:focus {
    box-shadow: inset 0 0 0 2rem rgba(0,0,0,0.25);
  }
}

.button--nav {
  @include breakpoint(801) {
    display: none;
  }
  background: none;
  color: $paletteLink;
  margin-bottom: 0;
  min-height: 4rem;
  min-width: 4rem;
  position: relative;
  &:hover,
  &:focus {
    box-shadow: none;
    color: $paletteLink;
  }
}

a,
button,
.button,
input,
textarea,
select {
  &:focus,
  &:hover:focus {
    outline: solid .12rem $focusColour;
    outline-offset: -.12rem;
  }
}

a:hover:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="color"],
textarea,
select {
  width: 100%;
  border: 1px solid $captionColour;
  &:hover {
    border-color: $bodyColour;
  }
}

select {
  background: $codeBackgroundColour;
}

textarea {
    resize: vertical;
}

label {
  @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all);
}

code {
  padding: .12rem .2rem;
  color: $headingColour;
}

pre code {
  padding: 0;
}

.required {
  color: red;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder {
  opacity: 0.5;
}
:-moz-placeholder {
  opacity: 0.5;
}

::selection {
  background: $headingColour;
  color: $backgroundColour;
  text-shadow: none;
}


// Sassline overrides
.typeset {
  a > code {
    text-shadow: none;
  }
  .button,
  button {
    background-image: none;
    text-shadow: none;
    color: $backgroundColour;
    &:hover,
    &:active,
    &:focus {
      background-image: none;
      color: $backgroundColour;
    }
  }
  hr {
    width: 100%;
  }
  li {
    > p {
      padding: 0;
      margin: 0;
    }
  }
  .nav a {
    padding-left: 0;
    padding-right: 0;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  pre {
    white-space: pre;
    overflow-x: scroll;
  }
}


#logo-title {
  margin-right: auto;
  span {
    color: $paletteLink;
    &:hover, &:active, &:focus {
      color: $paletteLink;
      text-decoration: none;
    }
  }
}

article, .nav--paginator {
  padding: 0.5rem 1.5rem;
  .post & {
    padding: 0.5rem 0.5rem;
  }
  @include breakpoint(break-1) {
    padding: 0.5rem 1.5rem;
  }
  margin-bottom: 0.5rem;
  background-color: $paletteBackground;
}

header {
  margin-bottom: 1rem;
  background-color: $paletteBackground;
  color: $paletteLink;
  .container svg {
    max-height: 94%;
  }
}

main.main--blog {
  margin-top: -5rem;
}

main.post {
    width: 100%;
}

.post--width,
.aside--down {
  width: 97%;
  // max-width: 750px;
  margin: auto;
  position: relative;
  @include breakpoint(break-1) { 
    max-width: 600px;
  }
  @include breakpoint(break-2) {
    max-width: none;
    width: 55rem;
  }
}

.article.article--post {
  $overlap: 5vw;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  border: none;
  @include breakpoint(break-2) {
    border: 1px solid $paletteTile;
    z-index: 150;
    .post & {
        padding: 0.5rem 9rem;
    }
  }

  table, th, td {
    border: 1px solid $bodyColour;
    text-align: left;
  }

  td {
    padding: 0.4rem;
  }

  table {
    margin-bottom: 1.3rem;
  }


  .post & a:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  h3 {
    text-align: left;
    font-size: 1.5rem;
  }

  .postlist--cover {
    position: absolute;
    width: 100%;
    height: $overlap + 3vw;
    top: 0;
    left: 0;
    outline: 2px solid #fff;
    border: 2px solid #fff;
    z-index: 0;
    .post & {
      height: 1vw;
    }
  }

  .small {
    padding-top: 0;
    z-index: 100;
    position: relative;

  }

  li {
    text-align: left;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1.5rem;
    position: relative;
    z-index: 100;
    &:after {
        $dashWidth: 5rem;
        content: '\A—';
        color: $paletteAccent;
        position: absolute;
        font-size: 250%;
        text-align: center;
        width: $dashWidth;
        left: 50%;
        top: -1.4rem;
        margin-left: -$dashWidth/2;
    }
  }

  // &.post--tile p {
  //  text-align: center;
  //  // border: 1px solid red;
  // }

  &.list {
    border: 1px solid $paletteTile;
      width: 85%;
      margin-top: -$overlap;
      strong {
        font-weight: normal;
      }
      a {
        color: inherit;
      }
  }

  &.content p {
    margin-top: 0;
    font-weight: normal;
    &:after {
      content: none;
    }
  }

  h2 {
    z-index: 100;
    position: relative;
    a:hover {
      text-decoration: underline;
    }
  }

  a.button.more {
    $height: 2.4rem;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: color 0.2s, background-color 0.2s;

    // outline: 1.5rem solid white;
    box-shadow: -1.3rem 0px 0px 0px $paletteBackground, 1.3rem 0px 0px 0px $paletteBackground;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
    font-size: small;
    background-color: white;
    color: $paletteAccent;
    border: 1px solid $paletteAccent;
    bottom: -$height/2 - 0.5rem;
    padding: $height/2 0.6rem;
    z-index: 50;
    &:hover {
      background-color: $paletteAccent;
      color: $paletteBackground;

    }


  }
}

.thumbs > svg {
    height: 2.5em;
    width: 2.5em;
}

.item--post {
  line-height: 0;
}

.logo {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.text--block p {
  line-height: 1.85;
  margin-bottom: 1.3rem;
}

.about--description {
  min-width: 200px;
  // padding-bottom: 1rem;
  padding-top: 5.3rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  // margin-bottom: 0 !important;
  @include flex(0 1 auto);
  a {
    position: relative;
    z-index: 10;
  }
  &:after {
    $dashWidth: 5rem;
    content: '\A—';
    color: $paletteAccent;
    position: absolute;
    font-size: 250%;
    text-align: center;
    width: $dashWidth;
    left: 50%;
    bottom: -1.45rem;
    margin-left: -$dashWidth/2;

  }
}

///////  CAROUSEL /////////

main {
  .carousel {
    position: absolute;
    figure figcaption {
      height: 5rem;
      position: absolute;
      width: 100%;
      background-color: white;
      & > div {
        line-height: 1.5rem;
        position: absolute;
        width: 70%;
        height: 3rem;
        left: 50%;
        margin-left: -35%;
        top: 50%;
        margin-top: -1.5rem;
        font-style: italic;
      }
    }
  }

  .carousel__photo {
    height: 33vh;
    @include breakpoint(break-2) {
      height: 33vw;
    }
  }

  .carousel img,
  .carousel figure {
    height: auto;
  }

  .carousel-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-bottom: 2rem;
    @include breakpoint(break-2) {
      width: 144%;
    }
    &:after {
      content: '';
      display: block;
      z-index: 850;
      padding-top: var(--ratio, 0);
      background-color: $palettePlaceholderBright;
    }
    &:before {
      content: "";
      display: block;
      background-color: $palettePlaceholderDark;
      position: absolute;
      top: -25%;
      bottom: 0;
      width: 33%;
      height: 150%;
      transform: translateX(0) rotate(30deg);
      animation: 2s loading-placeholder ease-in-out infinite;
    }
  }
}

header {
  .carousel-wrapper {
    height: 33vw;
    min-height: 40vh;
    display: flex;
  }

  .carousel {
    flex: 1 1 auto;
    a > span {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

$headerMargin: 6.5rem;
.header {
  margin-bottom: $headerMargin;
  & > .container {
    height: $headerHeight;
    width: 97%;
    position: relative;
    align-items: center;
  }
}

.tools {
  height: 100%;
  display: flex;
  @include flex(0 0 auto);
  align-items: center;
  justify-content: space-between;
  a {
    z-index: 100;
  }
}

$navWidth: 6.5em;

@include breakpoint(801) {
  .header .container {
    padding: 0;
    position: relative;
  }

  .header .feature .container {
    position: initial;
  }

  .header .nav {
    right: 0px;
    height: 100%;
    width: 100%;
  }

  .logo img {
    max-height: 3rem;
  }

  ul.nav--top.list.list--nav {
      height: 100%;
      width: 100%;
  }

  .header li.item.item--nav {
      align-items: center;
      height: 100%;
      display: inline-flex;
      margin-left: 1.5em;
    // width: $navWidth;
    &:first-of-type {
      margin-left: 0;
    }
    & > a:not(.expand) {
      border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        transition: border-bottom 0.2s;
      }
      &:hover > a:not(.expand) {
        // height: 2.4em;
        border-bottom: 4px solid $paletteAccent;
        border-top: 4px solid transparent;
      }
      a {
        margin: auto;
      }
  }
}


////////  DROPDOWN //////////

* {
  $width: 13rem;
  .dropdown1, .dropdown2 {
    // display: none;
    top: 100%;
    z-index: 1000;
    background-color: $paletteBackground;
    width: $width;
    margin-left: -$width/2;
    text-align: center;
    a {
      color: $paletteLink;
      display: block;
      padding: 3px;
    }
    // li {
    //  border-left: 3px solid rgba(0, 0, 0, 0);
    // }
  }

  .dropdown0 {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: visible;
      display: none;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }

  .dropdown0 > li {
      position: relative;
      a.expand {
        padding-right: 0.5rem;
      }
      & > a + b {
        transform: rotate(90deg);
        display: inline-block;
      }
  }

  .dropdown1 {
      position: absolute;
      margin: 0;
        left: 50%;
      margin-left: -$width/2;
      width: $width;
      list-style: none;
      padding: 0;
      border-top: 3px solid $paletteLink;
      display: none;
  }

  .dropdown1:after {
    content: '▲';
    position: absolute;
    color: $paletteLink;
    width: 26px;
      left: 50%;
      margin-left: -13px;
      transform: scale(2, 1);
      top: -10px;
      line-height: 0;
  }

  
  .dropdown1 > li {
      position: relative;
      // height: 30px;
  }

  .dropdown1 > li:hover, .dropdown2 > li:hover {
    background: $paletteLink;
    // border-left: 3px solid $paletteAccent;
    & > a {
      color: $paletteBackground;
    }
  }

  .dropdown2 {
      position: absolute;
      top: 0;
      right: -$width;
      width: $width;
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;
  }

  // .dropdown2 > li {
  //     // height: 30px;
  // }

  .dropdown0 a /* Apply to all links inside the multi-level menu */
  {
      /* Make the link cover the entire list item-container */
      display: block;
      line-height: 30px;
  }

  .dropdown0 li:hover > ul
  {
      /* On hover, display the next level's menu */
      display: inline;
  }

  .nav--header label,
  .nav--header input {
    display: none;
  }
}


////////  DROPDOWN MOBILE //////////

@include breakpoint(0, 801) {
  $width: 10em;

  nav.nav--header {
    position: absolute;
    width: 100%;
    text-align: left;
  }

  .button--nav {
    display: block;
    order: -1;
  }

  ul.nav--top {
    position: absolute;
    top: 2.5rem;
    width: 100%;
    @include breakpoint(break-1) {
      width: 60%;
    }
    text-align: left;
    border-top: 3px solid $paletteLink;
    padding: 0.3rem;
    background-color: $paletteBackground;
    z-index: 2000;
  }

  ul.nav--top:after {
    content: '▲';
    position: absolute;
    color: $paletteLink;
    width: 26px;
      left: 1.8rem;
      transform: scale(2, 1);
      top: -1.4em;
  }

  label.button + input {
    display: block;
  }

  .dropdown0 {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .7);
    .dropdown1, .dropdown2 {
        position: relative;
        margin: 0;
          left: 0;
        width: $width;
        list-style: none;
        padding: 0;
        border-top: none;
        // display: none;
    }

    a {
      padding: 0;
      line-height: 33px;
      display: initial;
    }

    li:hover, li:hover {
      background: $paletteBackground;
      // border-left: 3px solid $paletteAccent;
      & > a, & > label {
        color: $paletteLink;
      }
    }

    li {
      display: block !important;
      height: auto !important;
      width: 100%;
      text-align: left;
      a, label {
        cursor: pointer;
        padding: 0.2rem;
        padding-left: 1rem;
      }
      label > a {
        padding: 0;
      }

      & > a {
        display: block;
      }
    }

    .dropdown1 > li {
      a, label {
        padding-left: 3rem;
        padding-right: 2rem;
      }

      label > a {
        padding: 0;
      }
    }

    .dropdown2 > li {
      a, label {
        padding-left: 5rem;
      }

      label > a {
        padding: 0;
      }
    }

    ul {
      width: 100% !important;
    }

    .dropdown1:after {
      content: none;
    }

    a.expand,
    a.expand + b,
    ul {
      display: none;
    }

    li:hover > ul
    {
        display: none;
    }

    label {
      display: block;
      margin-bottom: 0;
      padding-top: 0;
      line-height: 30px;
      b:after {
        content: "›";
        float: right;
        margin-right: 1rem;
        font-size: 150%;
        transform: rotate(90deg);
        transition-duration: 0.15s;
      }
    }

    a, label > a {
      font-size: 120%;
    }


    [id^=drop]:checked + label + ul {
      display: block;
    }

    [id^=drop]:checked + label b:after {
      // transform-origin: center 40%;
      transform: rotate(90deg) scaleX(-1);
      transition-duration: 0.15s;
    }

    .backdrop {
      position: fixed;
      left: 0;
      top: 0;
      height: 150%;
      width: 100%;

    }
  }
  // label.button + input:checked + ul {
  //  display: block;
  // }

}


/////////  CATEGORY VIEW ////////////

.post--list .grid--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  @include breakpoint(0, 550) {
    grid-template-columns: 1fr;
    max-width: 375px;
    margin: auto;
  }
  // grid-auto-rows: 65em;
  margin-bottom: 4rem;
  & > div img {
    width: 95%;
  }
}

.category .article.article--post {

  .postlist--cover {
    height: 1.3rem;
  }

  .tile--content {
    height: 100%;
    overflow: hidden;
    &:before {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 4em;
      z-index: 45;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }

    @include breakpoint(break-3) {
      font-size: 90%;
      line-height: 0;
      h2 {
        font-size: 175%;
        line-height: 2rem;
      }
    }
  }

  &.post--tile {
    width: 95%;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
    margin: auto;
    border: 1px solid $paletteTile;
    height: 20em;
    padding: 0.5rem;
    p {
      text-align: center;
      line-height: 1.3em;
      z-index: 40;
      strong {
        font-weight: 100;
      }
    }
  }
}

.preview--image,
.preview--image--tile {
  display: block;
  margin: auto;
  top: 0;
  left: 0;
}

.preview--image {
  position: absolute;
}

.preview--image--placeholder {
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    padding-top: 100% * 2/3;
    background-color: $palettePlaceholderBright;
  }
  &:before {
    content: "";
    display: block;
    background-color: $palettePlaceholderDark;
    position: absolute;
    top: -25%;
    bottom: 0;
    width: 33%;
    height: 150%;
    transform: translateX(0) rotate(30deg);
    animation: 2s loading-placeholder ease-in-out infinite;
  }
}

@keyframes loading-placeholder {
  0% {
    transform: translateX(-300%) rotate(30deg);
  }
  100% {
    transform: translateX(500%) rotate(30deg);
  }
}


.category {
  article {
    padding: 0.3rem 0.3rem;
  }
}


/////////////   ABOUT US    ////////////

.main--about > article {
  @include breakpoint(0, 800) {
    padding-left: 3.8rem;
    padding-right: 3.8rem;
  }

  @include breakpoint(0, 640) {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.about {
  $height: 11em;
  $heightBoth: 10em;
  $gap: 4em;
  width: 100%;
  position: relative;
  & > div {
    position: relative;
    border: 1px solid $paletteTile;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1.3rem 2.5rem;
    p {
      height: 100%;
      vertical-align: middle;
      margin-bottom: 1rem;
      text-align: justify;
    }
    > img, > svg {
      height: $height - $gap;
      border-radius: 50%;
      top: 50%;
      margin-top: (-$height + $gap)/2;
      position: absolute;
      box-shadow: 0px -0.75rem 0px 0px $paletteBackground, 0px 0.75rem 0px 0px $paletteBackground;
    }

    &.both > svg {
      height: $heightBoth - $gap;
      box-shadow: -1.25rem 0px 0px 0px $paletteBackground, 1.25rem 0px 0px 0px $paletteBackground;
      background-color: $paletteBackground;
      #sun {
        fill: $paletteAccent;
        transition: fill 1s;
      }
      &:hover #sun {
        fill: #EB5E55;
      }

    }
  }

  .maciej {
    padding-right: $height/2;
    img {
      right: 0;
      margin-right: (-$height + $gap)/2;
    }
    .about--header {
      left: 3rem;
      margin-left: 0;
    }
  }

  .wera {
    padding-left: $height/2;
    img {
      left: 0;
      margin-left: (-$height + $gap)/2;
    }
    nav {
      position: relative;
    }
    .about--header {
      right: 3rem;
      left: initial;
    }
  }
  .both {
    margin-top: 3rem;
    padding-top: $heightBoth/2 - $gap/2;
    // height: $height + $gap;
    p {
      vertical-align: top;
    }
    img, svg {
      top: 0;
      margin-top: (-$heightBoth + $gap)/2;
      left: 50%;
      margin-left: (-$heightBoth + $gap)/2;
    }
  }
  .contact {
    svg {
      box-shadow: none;
      position: relative;
      height: auto;
    }
    .content {
      line-height: 2.2;
    }
  }
  .about--header {
    $headerWidth: 10rem;
    max-height: 100%;
    @include flex(0 1 auto);
    position: absolute;
    left: 50%;
    display: block;
    z-index: 200;
    margin-top: -1.5rem;
    margin-left: -$headerWidth/2;
    height: 1rem;
    width: $headerWidth;
    color: $paletteLink;
    background-color: $paletteBackground;
    line-height: 0;
    padding: 0;
    text-align: center;
  }

  @include breakpoint(0, 640) {
    .maciej,
    .wera,
    .both {
      padding: 0;
      margin-top: 0;
      img,
      svg {
        margin: auto;
        position: relative;
        left: 50%;
        margin-left: (-$height + $gap)/2;
      }

      .about--header {
        position: relative;
        text-align: center;
        display: block;
        left: initial;
        right: initial;
        margin: auto;
        margin-bottom: 1rem;
    }


    }

    > div {
      border: none;
    }
  }
}


///////   PAGINATOR  //////////
// .nav--paginator {
//  padding: 0;
// }
// .nav--paginator > a,
// .nav--post > a {
//  border: 1px solid $paletteTile;
//  padding: 0.35rem 0.5rem !important;
//  margin: 0;
//  text-align: center;
//  &:hover {
//    background-color: $paletteTile;
//    color: $paletteBackground
//  }
// }

///////////// NAVIGATION ////////////
.nav--post,
.nav--paginator {
  margin-bottom: 2rem;
  padding: 0.5rem 2.5rem;

  .post--previous,
  .pagination--previous {
    text-align: left;
    float: left;
    position: relative;
      margin-left: 1rem;
    &:before {
      content: "❮";
        left: -2rem;
    }
    &:hover:before {
      transform: translateX(-4px);
    }
  }
  .post--next,
  .pagination--next {
    text-align: right;
    float: right;
    position: relative;
    margin-right: 1rem;
    margin-left: 1rem;
    &:after {
      content: "❯";
      right: -2rem;
    }
    &:hover:after {
      transform: translateX(4px);
    }
  }
  a {
    i {
      font-style: italic;
        font-size: initial;
    }
    &:hover {
      text-decoration: underline;
    }
    &:before,
    &:after {
      color: $paletteAccent;
        position: absolute;
        top: 50%;
        height: 3rem;
        margin-top: -1.4rem;
        font-size: 200%;
        line-height: 3rem;
        transition: transform 0.2s;
        .nocontent & {
          content: "";
        }
    }
    line-height: 1.6rem;
    font-size: larger;
  }
  .nocontent:before,
  .nocontent:after {
    content: none;
  }
}


/////////  SEARCH  ////////////////
.main--search > article {
  padding-top: 1rem;
  margin: 0 auto;
  width: 100%;
  @include breakpoint(break-2) {
    // margin-top: -11.5vw;
  }
  @include breakpoint(break-3) {
    width: 62%;
  }
  input {
    margin-bottom: 1rem;
  }
}

.main--search {
  @include justify-content(flex-start);
    @include flex-direction(column);
}


/////////////////    MAP  //////////

main.world--map {
  margin-top: -$headerMargin;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 0;
  flex: initial;
  canvas {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: contain;
  }
  img[usemap], map area{
      outline: none;
  }
  img {
    position: absolute;
    width: auto;
    max-width: none;
    margin: auto;
    &#img--map--tag {
      left: 0;
      right: 0;
      height: 100%;
    }
    &#img--legend--tag {
      left: 0;
      bottom: 75px;
      height: 30%;
    }
  }
  & > div {
    height: calc(100vh - #{$headerHeight});
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #c7eae4;
    &::-webkit-scrollbar { height: 0 !important }
    overflow-x: -moz-scrollbars-none;
    -ms-overflow-style: none;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
    & > div {
      position: absolute;
    }
  }
}


///////////  TOP BUTTON
#top {
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s ease-out;
  position: sticky;
  bottom: -0.65rem;
  margin-bottom: -2.25rem;
  right: 30px;
  z-index: 140;
  font-weight: bold;
  outline: none;
  color: $paletteBackground;
  background-color: $paletteLink;
  cursor: pointer;
  font-size: 18px;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  box-shadow: none;
  border: 1px solid $paletteLink;
  align-self: flex-end;
  margin-right: -5rem;
  line-height: 0;
  padding: 1.25rem 0;
  &:hover {
    transform: translateY(-5px);
  }
  @include breakpoint(0, 800) {
    display: none;
  }
  @include breakpoint(break-3) {
      margin-left: 2rem;
  }
}


///////////////   COMMENTS   /////////////////
.page__reactions {
  margin-top: 4rem;

  input:disabled,
  textarea:disabled {
    background-color: #dddddd;
  }

  a:not(.btn):hover {
    text-decoration: underline;
  }

  .btn:focus {
    outline: none;
  }

  hr {
    margin-bottom: 2rem;
    margin-top: 0;
  }

  h2 {
    font-size: 150%;
    margin-bottom: 2.5rem;
  }

  small {
    padding: 0;
    font-size: 80%;
  }

  fieldset {
    margin-bottom: 0.5em;
    padding: 0;
    border-width: 0;
  }

  input,
  label,
  select {
    display: block;
  }

  label {
    margin-bottom: 0.5em;

    &.required:after {
      content: "*";
    }

    abbr {
      display: none;
    }
  }

  input,
  textarea,
  select,
  select[multiple=multiple] {
    box-sizing: border-box;
    margin-bottom: 0.25em;
    padding: 0.5em;
    width: 100%;
    // font-size: $form-font-size;
    background-color: $paletteBackground;
    // border-radius: $form-border-radius;
    border: 1px solid $paletteTile;
    // box-shadow: $form-box-shadow;
    transition: border-color;

    // &:hover {
    //   // border-color: $form-border-color-hover;
    // }
  }

  textarea {
    resize: vertical;
  }

  input[type="search"] {
    appearance: none;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    margin-right: 0.5em;
    // width: initial;
  }

  input[type="file"] {
    width: 100%;
  }

  select {
    width: auto;
    max-width: 100%;
  }

  button,
  .btn,
  input[type="submit"] {
    margin: 1em 0;
    appearance: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: none;
    border: 1px solid $paletteLink;
    color: $paletteBackground;
    background-color: $paletteLink;
    transition: color 0.2s, background-color 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.15rem 0.5rem;

    &:hover {
      color: $paletteLink;
      background-color: $paletteBackground;
    }

    svg {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      display: none;
    }
  }

  form {

    ul, ol, li {
      padding-left: 0;
      list-style-type: none;
    }
  }

  /* required */
  .req,
  .required {
    color: red !important;
    font-weight: bold;
  }

  /* instructions */
  .instruct {
    // font-size: 0.8em;
    font-style: italic;
  }

  .comment {
    position: relative;
    padding-left: 4.5em;

    // comment replies
    &.child {
      margin-left: 4.5em;
    }

    // admin commenter
    &.admin {

      &.child {

        &:before {
          background-color: $paletteLink;
        }
      }

      .comment__avatar {
        &:after {
          background-color: $paletteLink;
        }
      }
    }
  }

  .comment__timestamp {
    // font-size: 0.8em;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .comment__content {

    > p, > ul, > ol, > figure, > table {
      margin-bottom: 1rem;
    }

    ul {
      list-style-type: square;
    }

    li {
      margin-bottom: 0.5em;
    }

    li > ul,
    li > ol {
      margin-top: 0.5em;
    }

    img {
      max-width: 100%;
    }

    div.highlighter-rouge .highlight code {
      font-size: 0.8em;
    }
  }

  .comment__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.25em;
    height: 3.25em;
    img {
      border-radius: 50%;
    }
  }

  .comment__author-name {
    margin: 0 0 0.25em 0;
    font-size: 1.1em;
    line-height: 1;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .comment__reply {

    .btn {
      border: 1px solid $paletteLink;
      color: $paletteLink;
      background-color: $paletteBackground;
      padding: 0.15rem 0.5rem;
      margin-bottom: 1rem;
      display: inline-block;

      
      transition: color 0.2s, background-color 0.2s;

      &:hover {
        color: $paletteBackground;
        background-color: $paletteLink;
      }
    }
  }

  #cancel-comment-reply-link {
    right: 0;
    position: absolute;
    z-index: 100;
    margin-top: 1em;
  }

  #comment-form {
    margin-bottom: 3em;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
  }
}

/////////////  GALLERY ////////////
.gallery--wrapper {
  overflow: hidden;
  .gallery--button {
    height: 8rem;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    position: relative;
    transition: transform 0.2s;
    .backdrop {
      background-color: rgba(0, 0, 0, 0.35);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    h2 {
      $width: 16rem;
      $height: 3.3rem;
      color: $paletteBackground;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
      position: absolute;
      left: 50%;
      width: $width;
      margin-left: -$width/2;
      top: 50%;
      margin-top: -$height/2;
    }

    .gallery--collage {
      flex: 1;
      object-fit: cover;
      height: 100%;
      width: (100% / 3);
      + .gallery--collage {
        border-left: 3px solid $paletteBackground;
        + .gallery--collage {
          border-left: 3px solid $paletteBackground;
        }
      }

    }
    margin-bottom: 1rem;
  }

  #gallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    .gallery--subtitle {
      position: relative;
      /* bottom: 0; */
      z-index: 1000;
      color: white;
      display: block;
      /* height: 5%; */
      width: 80%;
      margin: auto;
    }
    .gallery--photo {
      display: none;
      position: absolute;
      /* top: 0; */
      /* bottom: 0; */
      margin: auto;
      left: 0;
      right: 0;
      /* height: 100%; */
      top: 50%;
      transform: translateY(-50%);
    }
    .backdrop {
      background-color: rgba(0, 0, 0, .9);
      width: 100%;
      height: 150%;
      z-index: 10000;
    }
    img {
      // max-width: 90%;
      max-height: 90vh;
      object-fit: contain;
      position: relative;
      margin: auto;
      /* top: 0; */
      /* left: 0; */
      /* right: 0; */
      /* bottom: 0; */
      z-index: 1010;
      height: 100%;
      @include breakpoint(0, 800) {
        max-width: 100%;
      }
    }

    .gallery--nav {
      $height: 5rem;
      position: absolute;
      top: 50%;
      margin-top: -$height/2;
      height: $height;
      width: $height;
      color: LightGrey;
      font-size: 300%;
      line-height: 0;
      padding: $height/2 0;
      cursor: pointer;
      text-shadow: 0px 0px 13px rgba(0, 0, 0, 1);
      z-index: 1020;

      &--next {
        right: 1.2%;
        text-align: right;
        &:after {
          content: "❯";
        }
      }

      &--prev {
        left: 1.2%;
        text-align: left;
        &:after {
          content: "❮";
        }
      }

      &--close {
        top: $height/2;
        right: $height/2;
        margin-right: -$height/2;
        text-align: center;
        &:after {
          content: "×";
        }
      }
    }
  }

}


/////////////   Language ///////////////////
.language--switcher {
  height: 100%;
  margin-left: 1.5rem;
  line-height: 0;
  height: 2rem;
  padding: 1rem 0;
  z-index: 100;
  a {
    text-transform: uppercase;
  }
}


/////////////  Footer   ////////////////

.nav--footer {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: auto;
  font-size: 1586%;
  strong {
    text-align: center;
    display: block;
  }
  ul {
    vertical-align: top;
  }
  * {
    font-size: initial;
  }
}

.footer--posts {
  margin-bottom: 2rem;
  display: inline-block;
  text-align: left;
}

.footer--contact {
  margin-bottom: 2rem;
  display: inline-block;
  text-align: left;
}

.copyright {
  width: 100%;
  font-size: 0;
  * {
    font-size: initial;
  }
}


#cookie-notice {
  padding: 0.5rem 1rem;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $paletteLink;
  color: white;
  z-index: 10000;
  line-height: 5rem;
  a {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  .btn {
    border: 1px solid white;
    background-color: white;
    padding: 0.4em;
    &:hover {
      background-color: $paletteLink;
      color: white;
    }

  }
  // @include breakpoint(break-2) {
    line-height: initial;
    span {
      display: block;
      padding-top: 3px;
      margin-bottom: 1rem;
    }
    a {
      position: relative;
      bottom: 4px;
    }
  // }
}
