<div class="about text--block">
	<div class="both">
		{% include site-logo-svg.html %}
		<p>W pierwszym dniu naszej znajomości zrodził się szatański pomysł wspólnej wyprawy autostopowej do Hiszpanii. Zrealizowaliśmy go bez namysłu, planu ani pieniędzy, za to z ogromną potrzebą przeżycia czegoś niezwykłego. 39 państw i 40 tysięcy kilometrów później awansowaliśmy z podróżującej pary na podróżujące małżeństwo.</p>
		<p>Covid zepsuł nam plan długoterminowego przejścia na wędrowny tryb życia, więc aktualnie skupiamy się na wspominaniu, marzeniu i snuciu nowych planów. To napradę świetne uczucie - tyle świata wciąż do odkrycia!</p>
		<p>Mamy nadzieję, że relacje z naszych przygód przypadną Ci do gustu. Do gwiazd blogosfery jeszcze nam daleko, ale wszystkie teksty oraz zdjęcia powstają prosto z serca ❤️</p>
	</div>
	<div class="wera">
		<h2 class="about--header">Weronika</h2>
		<img src="/assets/images/wera.png">
		<p>Należy do coraz rzadziej spotykanego typu człowieka, który częściej ma w rękach książkę niż smartfona. Kartki z życzeniami robi własnoręcznie. Zna wszystkie państwa świata, poczet królów Polski i teksty irytującej liczby piosenek. Nie śpi, jeśli w pobliżu ktoś gra na gitarze przy ognisku (typowo harcerski nawyk). Zawodowo jest związana z turystyką, a planowanie to jej żywioł, dlatego odpowiada za przebieg naszej trasy. Realizuje swoje literackie ambicje, opisując na blogu historie z podróży.</p>
	</div>
	<div class="maciej">
		<h2 class="about--header">Maciej</h2>
		<img src="/assets/images/maciej.png">
		<p>Lubi gotować, a jeszcze bardziej jeść (dużo!). Ocenia skały, drzewa i mury w kategorii: czy da się na to wspiąć? Potrafi zbudować pomost, przejechać 50 kilometrów na rolkach, zrobić pierścionek z drewna i zaprojektować stronę internetową (chociaż fakt, Nowhere Near to jego debiut). Podczas naszych podróży jest fotografem, zaopatrzeniowcem oraz niezawodnym poszukiwaczem dobrych miejsc na rozstawienie namiotu.</p>
	</div>
	<div class="contact">
		<h2 class="about--header">Kontakt</h2>
		<div class="content">
			{% include site-contact.html %}
			<br>
		</div>
	</div>
	<!-- <div class="wera">
		<img src="/assets/images/telefon.png">
		<p>
			Kontakt:<br>
			bleblebleble<br>
			nlenelenel<br>
			blebelbelee<br>
			{% include nav-social.html %}
		</p>
	</div> -->
</div>