---
layout: page
---

<div class="post--list list category">
	<div class="grid--wrapper">
	    {% for page in paginator.posts %}
	    <div>
	    	{% if page.image %}
            <a href="{{ site.baseurl }}{{ page.url }}">
              <!-- <img class="preview--image" src="{{ page.image | prepend: site.baseurl}}"> -->
              {% responsive_image_block %}
                path: {{ page.image | prepend: site.baseurl_root | remove_first: "/" }}
                class: "preview--image--tile"
              {% endresponsive_image_block %}
            </a>
          {% endif %}
          <article class="article article--post post--tile">
            <div class="postlist--cover"></div>
            <div class="tile--content">
              <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
              {% include post-date.html src=page %}
              <a href="{{ site.baseurl }}{{ page.url }}">{{ page.excerpt | markdownify }}</a>
            </div>
            <a class="button more" href="{{ site.baseurl }}{{ page.url }}">{% t text.read_more %}</a>

          </article>
		    </div>
	    {% endfor %}
	</div>
</div>

{% include post-pagination.html %}