<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158690810-1"></script>
    <script type="text/javascript">
      // Insert your UA here
      var gtagId = 'UA-158690810-1';

      // Disable tracking by default
      window['ga-disable-' + gtagId] = true;

      // Initialize gtag
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    </script>
    <!-- General meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% if page.collectionpage %}

      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{{ site.title }} | {% t page.title %}</title>
      <meta property="og:title" content="{% t page.title %}">
      <meta name="description" content="{{ collectiondata.description }}">
      <meta property="og:description" content="{{ collectiondata.description }}">
    {% else %}
      {% if page.layout == "post" %}
        <title>{{ site.title }} | {{ page.title }}</title>
      {% else %}
        <title>{{ site.title }} | {% t page.title %}</title>
      {% endif %}
      {% seo title=false %}
    {% endif %}

    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.theme_color }}"/>

    {% if site.css_inline == true %}
      {% include site-styles.html %}
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    {% endif %}

    {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}

    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

    {% include site-before-start.html %}
  </head>

  <body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    <!-- <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=655370751868787&autoLogAppEvents=1"></script> -->
    {% include site-icons.svg %}

    {{ content }}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}

    {% include site-before-end.html %}
  </body>

</html>
