---
layout: default
---

{% include site-header.html %}

<main class="main  container main--{{ page.class }}" id="main">

  <article class="article  article--page  content  typeset">

    {{ content }}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

  {% include site-top-button.html %}

</main>

{% include site-footer.html %}
