---
aside: true
layout: default
---

{% include site-header.html %}

<main class="main  container post">

  <article class="article  article--post  content  typeset post--width text--block">
  	<div class="postlist--cover"></div>

    {{ content }}

  </article>

	{% include post-nav.html %}
  
  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
  {% include post-comments.html %}

  {% include site-top-button.html %}

</main>

{% include site-footer.html %}
